body {
    background: #17a2b81a;
}

.navh {
    padding-top: 10px;
    height: 50px;
    background: #007bffa8;
    color: #f9f9f9;

    font-weight: bold;
}

.iconsize {
    margin-top: 10px;
    font-size: 60px;
}

.cardh {
    height: 130px;

    background: #fff;
    border-radius: 37px;
    padding-top: 12px;
    color: #888888;
}
.cardh a{
    color:#5ca4fd;
}

.threecol {
    height: 300px;
    text-align: center;
    background: #fff;
    font-weight: bold;
    margin: 13px;
    padding: 6px;
    color: #5ca4fd;
    padding-top: 20px;
}

.taskdiv {
    height: 70px;
    margin: 10px;
    background: #5ca4fd;
    padding-top: 10px;
    color: #f9f9f9;
}

.sidenav {
    padding: 0px;
    height: 900px;

}

.sidenav li {
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    height: 80px;
    border-bottom: 1px solid #000;


}

.detailnav {
    display: none;
}

.trans {
    transition: width 2s, height 4s;
}

.card_four {
    background: #5ca4fd;
    /* box-shadow: 4px 9px 1px 0px #aaa; */
    color: #f9f9f9;
    box-shadow: 3px 3px #aaa;

}

.sidediv {
    background: #007bff6e;
    color: #f9f9f9;


}

.profiledropdown {

    position: absolute;
    background: #ECECEC;
    right: 15px;
    top: 27px;
    z-index: 100;
    padding: 23px;
    list-style: none;
}

.profiledropdown li {
    padding: 5px;
    font-size: 24px;
}

@media screen and (max-width: 600px) and (min-width: 300px) {
    .pname {
        display: none;
    }

    .ppic {
        top: -22px;
        position: relative;
        right: 5px;
    }

    .trans {
        display: none;
    }

    .divfortext {
        width: 60%;
    }

    .divforicon {
        width: 40%;
    }

    .addcol {
        width: 50%;
        margin: 10px 0px;
    }
}

@media screen and (max-width: 1030px) and (min-width: 600px) {
    .pname {
        display: none;
    }

    .ppic {
        top: -22px;
        position: relative;
        right: 5px;
    }

    .trans {
        display: none;
    }

    .divfortext {
        width: 60%;
    }

    .divforicon {
        width: 40%;
    }

    .addcol {
        width: 50%;
        margin: 10px 0px;
    }
}